body {
  margin: 1rem 5rem;
  background-image: url('/assets/desk-to-desk.jpg');
}
a,button {
  background: rgb(255, 235, 153);
  border: 1px solid black;
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 200px;
  height: 2em;
  line-height: 2em;
  margin-bottom: 0.3rem;
  padding: 0 1em;
  text-align: center;
  cursor: pointer;
}
td>a {
  width: 50px;
}
td {
  color: beige;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: 'Times New Roman', Times, serif;
}
h1 {
  background-color: rgba(245, 245, 220, 0.6);
  padding: 0.25em 0.5em;
}
img {
  width: 1rem;
  height: 1rem;
}
.inlineHead {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.hiddeFormBlog {
  display: none;
}
.showFormBlog {
  display: block;
}